@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("./dev.css");
@import url("./home.css");
html,
body {
  overflow-x: hidden;
  background: linear-gradient(180deg, #364a57 0.01%, #161d22 101.79%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  margin-top: 6rem;
}
